%table
  %tr.height50px
    %td メニュー:　
    %td= select_tag "page[name]", options_from_collection_for_select(Menu.all, :id, :name), class: "form-control input-sm width400px"
  %tr.height50px
    %td ご飯の量:　
    %td= select_tag "page[name]", options_for_select(@amount), class: "form-control input-sm width100px"